<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.min.css" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <header>
            <nav class="navbar-bg navbar navbar-inverse navbar-inverse2" id="main-navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><p class="logo">Servicedoer</p></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="menu-items"><a href="#" class="act-link order-link">Orders</a></li>
                            <li class="menu-items"><a href="#" class="act-link order-link">Notifications</a></li>
                            <li class="menu-items menu-items2 dropdown">
                                <img src="images/manager.png" class="manager" />
                                <h4>
                                    Laim parker
                                    <br/>
                                    <span>(Manager)</span>
                                   
                                </h4>
                                <a class="dropdown-toggle toggle2" data-toggle="dropdown" href="#"> <i class="fas fa-sort-down"></i></a>
                                <ul class="dropdown-menu menu2">
                                    <li><a href="#" class="drop-down">Dashboard</a></li>
                                    <li><a href="#" class="drop-down">Sign Out</a></li>
                                </ul>
                            </li>

                            <!-- <li class="menu-items"><a href="register.html" class="act-link">Sign Up</a></li>
                            <li class="menu-items"><a href="login.html" class="act-link">Login in</a></li>				 -->
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </header>
        <section id="orders">
            <div class="container">
                <div class="row">
                    <h3 class="active-order">Active Order</h3>
                </div>
                <div class="row active-row">
                    <div class="col-md-3 customer-profile2">
                        <div class="row">
                            <div class="col-md-3 text-center customer-profile2">
                                <img src="images/manager.png" alt="customer" class="customer" />
                            </div>
                            <div class="col-md-9 customer-info">
                                <h4>Laim Parker</h4>
                                <i class="fas fa-map-marker-alt map-sign"></i> Sector D Lahore,Pakistan
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-center price-order">
                        <h4>Price</h4>
                        Rs.300
                    </div>
                    <div class="col-md-3 text-center things">
                        <h4>Things to be done</h4>
                        Teach Maths
                    </div>
                    <div class="col-md-2 text-center status2">
                        <h4>Status</h4>
                        <span class="progress">In progress</span>
                    </div>
                    <div class="col-md-2 text-center order-btns"><button class="cancel-btn" data-toggle="modal" data-target="#cancelorder">Cancel Order</button></div>
                   
                </div>
                <div class="row active-row">
                    <div class="col-md-3 customer-profile2">
                        <div class="row">
                            <div class="col-md-3 text-center customer-profile2">
                                <img src="images/manager.png" alt="customer" class="customer" />
                            </div>
                            <div class="col-md-9 customer-info">
                                <h4>Laim Parker</h4>
                                <i class="fas fa-map-marker-alt map-sign"></i> Sector D Lahore,Pakistan
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-center price-order">
                        <h4>Price</h4>
                        Rs.300
                    </div>
                    <div class="col-md-3 text-center things">
                        <h4>Things to be done</h4>
                        Teach Maths
                    </div>
                    <div class="col-md-2 text-center status2">
                        <h4>Status</h4>
                        <span class="progress">In progress</span>
                    </div>
                    <div class="col-md-2 text-center order-btns"><button class="cancel-btn" data-toggle="modal" data-target="#cancelorder">Cancel Order</button></div>
                </div>
                <div class="row active-row">
                    <div class="col-md-3 customer-profile2">
                        <div class="row">
                            <div class="col-md-3 text-center customer-profile2">
                                <img src="images/manager.png" alt="customer" class="customer" />
                            </div>
                            <div class="col-md-9 customer-info">
                                <h4>Laim Parker</h4>
                                <i class="fas fa-map-marker-alt map-sign"></i> Sector D Lahore,Pakistan
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-center price-order">
                        <h4>Price</h4>
                        Rs.300
                    </div>
                    <div class="col-md-3 text-center things">
                        <h4>Things to be done</h4>
                        Teach Maths
                    </div>
                    <div class="col-md-2 text-center status2">
                        <h4>Status</h4>
                        <span class="progress">In progress</span>
                    </div>
                    <div class="col-md-2 text-center order-btns"><button class="cancel-btn" data-toggle="modal" data-target="#cancelorder">Cancel Order</button></div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="ordercomplete" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Order Completion</h4>
                </div>
                <div class="modal-body">
                  <form action="" class="review-service">
                      <div class="row">
                          <div class="col-md-1"></div>
                          <div class="col-md-10">
                            <div class="form-group">
                                <label for="modal-para1" class="modal-para1">How much you were satisfied with the service?</label>
                            </div>

                          </div>
                          <div class="col-md-1"></div>
                      </div>
                      <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                              <div class="form-group">
                                  <label for="modal-para1" class="location-info">
                                    <i class="fas fa-star stars"></i>
                                    <i class="fas fa-star stars"></i>
                                    <i class="fas fa-star stars"></i>
                                    <i class="fas fa-star stars"></i>
                                    <i class="far fa-star stars2"></i>
                                 </label>
                              </div>
  
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                      <div class="row">
                         <div class="col-md-1"></div> 
                         <div class="col-md-10">
                             <div class="form-group">
                                <label for="modal-para1" class="modal-para2">Please leave a review for the service provider</label>
                                <textarea name="reviews" cols="30" rows="3" class="form-control reviews-area"></textarea>
                             </div>
                         </div>    
                          <div class="col-md-1"></div>  
                      </div>
                      <div class="row">
                            <div class="col-md-4"></div> 
                            <div class="col-md-4 text-center">
                               <button class="continue-review">Continue</button>
                            </div>    
                             <div class="col-md-4"></div>  
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="cancelorder" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Cancellation of order</h4>
                    </div>
                    <div class="modal-body">
                      <form action="" class="review-service">
                          <div class="row">
                             <div class="col-md-1"></div> 
                             <div class="col-md-10">
                                 <div class="form-group">
                                    <label for="modal-para1" class="modal-para2">Why do you wish to cancel the order?</label>
                                    <textarea name="reviews" cols="30" rows="4" class="form-control reviews-area"></textarea>
                                 </div>
                             </div>    
                              <div class="col-md-1"></div>  
                          </div>
                          <div class="row">
                                <div class="col-md-4"></div> 
                                <div class="col-md-4 text-center">
                                   <button class="continue-review2">Continue</button>
                                </div>    
                                 <div class="col-md-4"></div>  
                          </div>
                      </form>
                    </div>
    
                  </div>
                  
                </div>
              </div>
            </div>

        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    </body>
</html>
