<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <header>
                <nav class="navbar-bg  navbar navbar-inverse" id="main-navigation">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><p class="logo">Servicedoer</p></a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="menu-items"><a href="#" class="act-link1">Become a Doer</a></li>
                                <li class="menu-items"><a href="register.html" class="act-link">Sign Up</a></li>
                                <li class="menu-items"><a href="login.html" class="act-link">Login in</a></li>				
                            </ul>
                            
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
        </header> 
        <section id="review">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="reviewer-div text-center">
                            <img src="images/trainer.png" width="140" height="140" alt="reviewer">
                            <h3>Elizabeth</h3>
                            <p class="report"><i class="fab fa-font-awesome-flag"></i>Report</p>
                            <p class="location1"><i class="fas fa-map-marker-alt alt2"></i> Sector D Lahore,Pakistan</p>
                            <p><i class="fas fa-check-circle"></i> 10 hires on Servicedoer</p>
                        </div>
                        <div class="reviewer-info info2">
                                <p class="email-para">Email<br/><span class="email">hellome123@gmail.com</span></p>
                                <p class="bio-para">Bio<br/><span class="bio">The House looked very clean and minimal<br/>and she took the right amount of money<br/>and we will highly recommend her.</span></p>
                                <p class="service-providers">Service Provides</p>
                                <p class="service-provide1">Doctor</p>
                                <p class="service-provide2">Physician</p>
                                </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h3>Reviews as Provider</h3>
                        <p class="customer-para">"The House looked very clean and minimal and she took the<br/> right amount of money and we will highly recommend her"</p>
                        <div class="row">
                          <div class="col-md-4">
                            <p class="rating">Published 5 days ago</p>
                          </div> 
                          <div class="col-md-2"></div>
                          <div class="col-md-6">
                            <p class="rating-info">-Mustafa Hassan &nbsp;4.8 <i class="fas fa-star star2"></i><i class="fas fa-star star2"></i><i class="fas fa-star star2"></i><i class="fas fa-star star2"></i><i class="fas fa-star star2"></i></p>
                          </div>  
                        </div> 
                        <p class="customer-para">"The House looked very clean and minimal and she took the<br/> right amount of money and we will highly recommend her"</p>
                        <div class="row">
                          <div class="col-md-4">
                            <p class="rating">Published 5 days ago</p>
                          </div> 
                          <div class="col-md-2"></div>
                          <div class="col-md-6">
                            <p class="rating-info">-Mustafa Hassan &nbsp;4.8 <i class="fas fa-star star2"></i><i class="fas fa-star star2"></i><i class="fas fa-star star2"></i><i class="fas fa-star star2"></i><i class="fas fa-star star2"></i></p>
                          </div>  
                        </div>  
                        <p class="customer-para">"The House looked very clean and minimal and she took the<br/> right amount of money and we will highly recommend her"</p>
                        <div class="row">
                          <div class="col-md-4">
                            <p class="rating">Published 5 days ago</p>
                          </div> 
                          <div class="col-md-2"></div>
                          <div class="col-md-6">
                            <p class="rating-info">-Mustafa Hassan &nbsp;4.8 <i class="fas fa-star star2"></i><i class="fas fa-star star2"></i><i class="fas fa-star star2"></i><i class="fas fa-star star2"></i><i class="fas fa-star star2"></i></p>
                          </div>  
                        </div>  
                        <p class="customer-para">"The House looked very clean and minimal and she took the<br/> right amount of money and we will highly recommend her"</p>
                        <div class="row">
                          <div class="col-md-4">
                            <p class="rating">Published 5 days ago</p>
                          </div> 
                          <div class="col-md-2"></div>
                          <div class="col-md-6">
                            <p class="rating-info">-Mustafa Hassan &nbsp;4.8 <i class="fas fa-star star2"></i><i class="fas fa-star star2"></i><i class="fas fa-star star2"></i><i class="fas fa-star star2"></i><i class="fas fa-star star2"></i></p>
                          </div>  
                        </div>   
                    </div>
                    <div class="col-md-3">
                        <div class="review-buttons">
                           <button class="hire-me">Hire me</button>
                           <button class="get-price">Get price</button>
                        </div>
                    </div>

                </div>

            </div>

        </section>
        <footer id="home-footer">
           <div class="container">
              <div class="row">
                  <div class="col-md-12">
                     <p class="footer-logo">Servicedoer</p>
                  </div>
              </div>
              <div class="row service-para-row">
                 <div class="col-md-2"></div>
                 <div class="col-md-8">
                        <p class="footer-para">Service which is rendered without joy helps neither the servant nor the served. But all other pleasures and<br/> posessions pale into nothingness before service which is rendered in a spirit of joy.</p>
                 </div>
                 <div class="col-md-2"></div>
              </div>
              <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <ul class="contact-info">
                            <li>Avenue 1,Khayaban-e-Jinnah</li>
                            <li>Lahore,Punjab</li>
                       </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="contact-info">
                            <li>Phone:(+92) 6521-564-854</li>
                            <li>Fax:(+92) 5555-564-854</li>
                        </ul>
                    </div>
                    <div class="col-md-3"></div>
             </div>
             <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="footer-icons">
                            <li><i class="fab fa-facebook-f"></i></li>
                            <li><i class="fab fa-twitter"></i></li>
                            <li><i class="fab fa-linkedin-in"></i></li>
                            <li><i class="fab fa-google-plus-g"></i></li>
                       </ul>
                    </div>
            </div>
        </div>
        <div class="container-fluid" style="background:#fbfbfb !important;border-top:1px solid #eee !important;margin-top:20px;">
                <p class="copy-rights-home">Copyrights &copy; All Rights Reserved By <a href="#" class="web-link">ServiceDoer</a></p>
        </div>
    </footer>

        <!-- JQUERY -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>

</body>
</html>