<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body> 
        <header>
            <nav class="navbar-bg  navbar navbar-inverse" id="main-navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"><p class="logo">Servicedoer</p></a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
                            <li class="menu-items"><a href="#" class="act-link1">Become a Doer</a></li>
                            <li class="menu-items"><a href="register.html" class="act-link">Sign Up</a></li>
                            <li class="menu-items"><a href="login.html" class="act-link">Login in</a></li>				
						</ul>
						
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
            </nav>
        </header>    
          <section id="steps">
              <div class="container">
                  <div class="row">
                     <div class="col-md-1"></div>   
                     <div class="col-md-10 text-center">  
                         <ul>
                           <li class="steps">1</li>
                           <li class="steps step2 step2b">2</li>
                           <li class="steps step3 step3b">3</li>
                        </ul> 
                     </div>   
                     <div class="col-md-1"></div>   

                  </div>
              </div>
          </section>
               <section id="trainer-form">
                   <div class="container">
                       <div class="row">
                         <div class="col-md-1"></div>  
                         <div class="col-md-10">   
                             <h4 class="service">What service would you like to provide</h4>
                         </div>    
                         <div class="col-md-1"></div> 
                       </div>
                       <div class="row">
                          <div class="col-md-1"></div> 
                          <div class="col-md-10"> 
                           <form action="#" id="main-form">
                                <label class="service1">Home Service
                                        <input type="checkbox">
                                        <span class="checkmark3"></span>
                                </label>
                                <label class="service1">Doctor
                                        <input type="checkbox">
                                        <span class="checkmark3"></span>
                                </label>
                                <label class="service1">Car Mechanic
                                        <input type="checkbox">
                                        <span class="checkmark3"></span>
                                </label>
                                <label class="service1">Beautician
                                        <input type="checkbox">
                                        <span class="checkmark3"></span>
                                </label>
                                <label class="service1">Fitness Trainer
                                        <input type="checkbox">
                                        <span class="checkmark3"></span>
                                </label>
                                <label class="service1">AC Repair
                                        <input type="checkbox">
                                        <span class="checkmark3"></span>
                                </label>
                                <label class="service1">Photographer
                                        <input type="checkbox">
                                        <span class="checkmark3"></span>
                                </label>
                                <label class="service1">Computer Service
                                        <input type="checkbox">
                                        <span class="checkmark3"></span>
                                </label>
                                <div class="text-center"><input type="submit" class="continue" value="Continue"></div>
                            </form>
                           </div> 
                           <div class="col-md-1"></div> 
                       </div>
            
                   </div>
            
               </section>
            <footer id="footer">
                <div class="row">
                    <p class="copy-rights3">Copyrights &copy; All Rights Reserved By <a href="#" class="web-link">ServiceDoer</a></p>

                </div>

            </footer>


        <!-- JQUERY -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>

</body>
</html>